body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("photos/background.jpg");
  }
  
  h1 {
    color: #333;
    background-color: rgb(222, 4, 255);
    text-align: center;
  }
  
  #exchange-container {
    background-color: #86de59;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    color: #fcbd00;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #result {
    margin-top: 20px;
  }
  